@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Croissant+One:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Varela+Round:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Croissant+One:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Varela+Round:regular&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1272px;
  margin: 0 auto;
}

._container-welcome {
  max-width: 1440px;
  margin: 0 auto;
}

._container-signlog {
  max-width: 700px;
  margin: 0 auto;
}

._active {
  border-bottom: solid #313131 2px;
  border-radius: 1px;
}

.content__form {
  background: #FAFAFA;
  opacity: 0.8;
  max-width: 400px;
  margin: 0 0 30px 0;
  padding: 10px 10px;
}

.form__body {
  position: relative;
}
.form__button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 9px;
  letter-spacing: 1px;
  color: #FAFAFA;
  background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
  padding: 10px 15px;
}
@media (max-width: 767.98px) {
  .form__button {
    margin: 0 10px 0px 0;
  }
}
@media (min-width: 768px) {
  .form__button {
    margin: 0 25px 0px 0;
  }
}
.form__ico {
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (max-width: 767.98px) {
  .form__ico img {
    display: none;
  }
}
@media (min-width: 768px) {
  .form__ico img {
    margin: 2.5% 0 0 0;
  }
}

.js-input {
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .js-input {
    margin: 0 20% 0 0;
  }
}
.js-input.error {
  box-shadow: 0 0 15px red;
}

.js-input1 {
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .js-input1 {
    margin: 0 20% 0 0;
  }
}
.js-input1.error {
  box-shadow: 0 0 15px red;
}

.js-input2 {
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .js-input2 {
    margin: 0 20% 0 0;
  }
}
.js-input2.error {
  box-shadow: 0 0 15px red;
}

.js-input3 {
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .js-input3 {
    margin: 0 20% 0 0;
  }
}
.js-input3.error {
  box-shadow: 0 0 15px red;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  margin: 0 0 20px 0;
  background-color: white;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .header::before {
    background-color: #b9b9b9;
    z-index: 2;
  }
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  margin: 0 20px;
}
@media (max-width: 767.98px) {
  .header__body {
    height: 50px;
  }
}
.header__logo {
  flex: 0 0 60px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
}
.header__burger {
  display: none;
}
@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767.98px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 20px 0 20px;
    transition: all 0.5s ease 0s;
    background-color: white;
  }
}
.header__menu.active {
  top: 0%;
  transition: all 0.5s ease 0s;
}
.header__list {
  display: flex;
}
.header__list li {
  margin: 0 0 0 40px;
}
@media (max-width: 767.98px) {
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}
.header__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.5px;
  color: #313131;
}

.sign-up {
  color: #FFFFFF;
  padding: 4px 15px;
  font-weight: 500;
  background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
  border-radius: 3px;
}
.sign-up:hover {
  transition: all 1s ease 0s;
}

.login {
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1272px;
  margin: 0 auto;
}

._container-welcome {
  max-width: 1440px;
  margin: 0 auto;
}

._container-signlog {
  max-width: 700px;
  margin: 0 auto;
}

._active {
  border-bottom: solid #313131 2px;
  border-radius: 1px;
}

.content__form {
  background: #FAFAFA;
  opacity: 0.8;
  max-width: 400px;
  margin: 0 0 30px 0;
  padding: 10px 10px;
}

.form__body {
  position: relative;
}
.form__button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 9px;
  letter-spacing: 1px;
  color: #FAFAFA;
  background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
  padding: 10px 15px;
}
@media (max-width: 767.98px) {
  .form__button {
    margin: 0 10px 0px 0;
  }
}
@media (min-width: 768px) {
  .form__button {
    margin: 0 25px 0px 0;
  }
}
.form__ico {
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (max-width: 767.98px) {
  .form__ico img {
    display: none;
  }
}
@media (min-width: 768px) {
  .form__ico img {
    margin: 2.5% 0 0 0;
  }
}

.js-input {
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .js-input {
    margin: 0 20% 0 0;
  }
}
.js-input.error {
  box-shadow: 0 0 15px red;
}

.js-input1 {
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .js-input1 {
    margin: 0 20% 0 0;
  }
}
.js-input1.error {
  box-shadow: 0 0 15px red;
}

.js-input2 {
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .js-input2 {
    margin: 0 20% 0 0;
  }
}
.js-input2.error {
  box-shadow: 0 0 15px red;
}

.js-input3 {
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .js-input3 {
    margin: 0 20% 0 0;
  }
}
.js-input3.error {
  box-shadow: 0 0 15px red;
}

.footer {
  background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
}
.footer__up {
  margin: 50px 0 84px 0;
}
.footer .footer__up {
  display: flex;
  justify-content: space-between;
  margin: 50px 15px 60px 15px;
}
@media (max-width: 767.98px) {
  .footer .footer__up {
    margin: 30px 15px 30px 15px;
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .footer .footer__inf {
    margin-bottom: 50px;
  }
}
.footer .footer__down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 237.5%;
  letter-spacing: 0.677419px;
  color: #FFFFFF;
  padding: 21px 0;
  border-top: 1px solid #FFFFFF;
  margin: 0 0px 0 0px;
}
@media (max-width: 767.98px) {
  .footer .footer__down {
    margin: 0 15px 0 15px;
    font-size: 10px;
    line-height: 200%;
  }
}
.footer .footer__down a {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.677419px;
  line-height: 190%;
  color: #FAFAFA;
  text-decoration: none;
}
.footer .inf__par {
  margin: 25px 0 0 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 237.5%;
  letter-spacing: 0.677419px;
  color: #FFFFFF;
}
@media (max-width: 767.98px) {
  .footer .inf__par {
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0px;
    padding: 0 25px 0 0;
  }
}
.footer .inf__images img {
  transition: all 0.5s ease 0s;
}
@media (min-width: 991.98px) {
  .footer .inf__images img:hover {
    transform: scale(1.2);
  }
}
.footer .footer__form {
  max-height: 50px;
  width: 400px;
  background: #FAFAFA;
  opacity: 0.8;
  margin: 0 0 30px 0;
  padding: 10px 10px;
}
@media (min-width: 767.98px) {
  .footer .form__body {
    display: flex;
  }
}
.footer .form__button {
  margin: 0 40px 0 0;
}
@media (max-width: 900px) {
  .footer .form__button {
    margin: 0 20px 0 0;
  }
}
.footer .form__input {
  margin: 0 50px 0 0;
}
@media (max-width: 900px) {
  .footer .form__input {
    margin: 0 15px 0 0;
  }
}
.footer .form__ico {
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (max-width: 767.98px) {
  .footer .form__ico img {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer .form__ico img {
    margin: 2.5% 0 0 0;
    display: block;
  }
}

body.lock {
  overflow: hidden;
}

.page {
  background-image: url(../img/home/bg1.png);
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 340px 0 350px 0;
}

.form2__item {
  margin: 0 0 30px 0;
  background: #FAFAFA;
  opacity: 0.8;
  padding: 20px 10px 20px 10px;
}
.form2__button {
  display: flex;
  justify-content: center;
}

.form__label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 9px;
  letter-spacing: 1px;
  color: #FFFFFF;
  background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
  padding: 10px 30px;
  margin: 0 25px 30px 0;
}
.form__label.password {
  padding: 10px 20px;
}

.name {
  width: 70%;
}
@media (max-width: 767.98px) {
  .name {
    width: 50%;
  }
}

.email {
  width: 70%;
}
@media (max-width: 767.98px) {
  .email {
    width: 50%;
  }
}

.password {
  width: 70%;
}
@media (max-width: 767.98px) {
  .password {
    width: 50%;
  }
}

.button__send {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 30px 0 0 0;
}
